doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/w3.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        // Wrapper
        #wrapper.w3-container
            video(src='https://assets.codepen.io/6093409/river.mp4', type="video/mp4", autoplay muted loop)
            table#ctrpanelbuttons
                td
                br
                br
                a.w3-btn.w3-pink.w3-xxxlarge(href='#') Manage My Account
                br
                br
                a.w3-btn.w3-green.w3-xxxlarge(href='/index') Manage Students
                br
                br
                a.w3-btn.w3-yellow.w3-xxxlarge(href='/schools') Manage Schools
                

    script(src='/jqueryscripts/jquery.min.js')