doctype html
html
	head(id=_id)
		title= fullname
		link(rel='stylesheet', href='/stylesheets/w3.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		// link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')	

	body
		h2 Login Form
		form(method='post', action='/login/authenticate')
			.imgcontainer
				img.avatar(src='/images/img_avatar2.png', alt='Avatar')

			.container
				label
					b Username   
				input(type='text', placeholder='Enter Username', name='uname', required='')
				label
					b Password     
				input(type='password', placeholder='Enter Password', name='psw', required='')
				button(type='submit') Login  
				input(type='checkbox', checked='checked')
				label
					span 
					span Remember me
