doctype html
html
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/stylesheets/w3.css')
  // link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
  
  style.
    html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
    .mySlides {display:none}
    .w3-tag, .fa {cursor:pointer}
    .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
    div.main {
    background: rgba(60, 90, 90, 0.75);
    color: white
    }
  body
    // Links (sit on top)
    .w3-top
      .w3-row.w3-large
        .w3-col.s3
          a.w3-btn-block.w3-light-grey(href='#') 主页
        .w3-col.s3
          a.w3-btn-block.w3-light-grey(href='#plans') 主日聚会 
        .w3-col.s3
          a.w3-btn-block.w3-light-grey(href='#about') 周中追求 
        .w3-col.s3
          a.w3-btn-block.w3-light-grey(href='#contact') 联系我们 
    // Content
    .w3-content(style='max-width:1100px;margin-top:80px;margin-bottom:80px')
      .w3-panel
        h1
          .w3-text-black.w3-xxlarge
            b Church of God in SF Bay Area 
        p 
          h3 旧金山湾区教会
      // Slideshow
      .w3-container
        //.w3-display-container.mySlides
        //  img(src='/images/application.jpg', style='width:100%')
        //  .w3-display-bottomleft.w3-container.w3-padding-32
        //    #app.main.w3-padding-small.w3-animate-bottom 
        //      b Professional School Application

        .w3-display-container.mySlides
          img(src='/images/sheep.jpg', style='width:100%')
          .w3-display-bottomleft.w3-container.w3-padding-24
            #host.main.w3-padding-small 
              b 欢迎来到湾区教会

        .w3-display-container.mySlides
          img(src='/images/event.jpg', style='width:100%')
          .w3-display-bottomleft.w3-container.w3-padding-24
            #ex.main.w3-padding-small 
              b 8月相聚Palo Alto福音聚会

        // Slideshow next/previous buttons
        .w3-container.w3-light-grey.w3-padding-8.w3-xlarge
          .w3-left(onclick='plusDivs(-1)')
            i.fa.fa-arrow-circle-left.w3-hover-text-teal
          .w3-right(onclick='plusDivs(1)')
            i.fa.fa-arrow-circle-right.w3-hover-text-teal
          .w3-center
            span.demodots
            span.demodots
            span.demodots
            span.demodots
      // Grid
      .w3-row-padding
        .w3-center.w3-padding-64
          span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 圣经经节享受
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 罗马书 1:28-31
            p
              |他们既然故意不认识神，神就任凭他们存邪僻的心，行那些不合理的事；装满了各样不义、邪恶、贪婪、恶毒，满心是嫉妒、凶杀、争竞、诡诈、毒恨；又是谗毁的、背後说人的、怨恨神的、侮慢人的、狂傲的、自夸的、捏造恶事的、违背父母的。无知的，背约的，无亲情的，不怜悯人的。
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 哥林多前书 1:18-21
            p
              |因为十字架的道理，在那灭亡的人为愚拙。在我们得救的人却为神的大能。就如经上所记，我要灭绝智慧人的智慧，废弃聪明人的聪明。智慧人在哪里？文士在哪里？这世上的辩士在哪里？神岂不是叫这世上的智慧变成愚拙吗？世人凭自己的智慧，既不认识神，神就乐意用人所当作愚拙的道理，拯救那些信的人。这就是神的智慧了。
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 马太福音 7:13-14
            p
              | 你们要进窄门，因为引到灭亡，那门是宽的，路是大的，进去的人也多；引到永生，那门是窄的，路是小的，找着的人也少。
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 以赛亚书 51:12-13
            p
              |惟有我，是安慰你们的。你是谁？竟怕那必死的人，怕那要变如草的世人，却忘记铺张诸天、立定地基、创造你的耶和华。


      // Grid
      #events.w3-row-padding.w3
        .w3-center.w3-padding-64
          span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 近期活动 
        .w3-third.w3-margin-bottom
            ul.w3-ul.w3-border.w3-center.w3-hover-shadow
              .w3-card-4
                img(src='/images/bro-ye-visit.jpg', alt='Brother Ye Visit', style='width:100%')
                .w3-container
                  h3 叶仁全弟兄访问湾区教会 - 《从湾区基督徒的眼光来看2024年的挑战和盼望》 
                  p.w3-opacity 2024年1月21日，1:30 PM-4:30PM
                  p.w3-opacity Address: 41690 Joyce Ave, Fremont, CA 94539
	//.w3-third.w3-margin-bottom
        //    ul.w3-ul.w3-border.w3-center.w3-hover-shadow
        //      .w3-card-4
        //        img(src='/images/sept-event.png', alt='Sept Gospel Gathering', style='width:100%')
        //        .w3-container
        //          h3 2023年9月Palo Alto福音聚会
        //          p.w3-opacity 2023年9月23日，3:00 PM-4:00PM
        //          p.w3-opacity Address: Cubberley Community Center, Room U7, 4000 Middlefield Rd, Palo Alto, 94303 
	//.w3-third.w3-margin-bottom
        //    ul.w3-ul.w3-border.w3-center.w3-hover-shadow
        //      .w3-card-4
        //        img(src='/images/event.png', alt='August Gospel Gathering', style='width:100%')
        //        .w3-container
        //          h3 2023年8月Palo Alto福音聚会
        //          p.w3-opacity 2023年8月12日，3:00 PM-4:00PM
        //          p.w3-opacity Address: Cubberley Community Center, Room H6, 4000 Middlefield Rd, Palo Alto, 94303


      // Grid
      #plans.w3-row-padding
        .w3-center.w3-padding-64
          span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 主日聚会信息
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 聚会时间和地址
            li.w3-padding-16 时间：周日 11:00AM - 2:00PM PST
            li.w3-padding-24 南湾分区聚会地址：515 Rhodes Drive, Palo Alto, CA 94303
            li.w3-padding-24 东湾分区聚会地址：41690 Joyce Ave, Fremont, CA 94539
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 聚会日程
            li.w3-padding-16 生命诗歌享受、擘饼
            li.w3-padding-16 圣经、信息、见证
            li.w3-padding-16 祷告
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 聚会服事项目
            li.w3-padding-16 儿童主日学
            li.w3-padding-16 午餐饭食服事

      // Grid
      #about.w3-row-padding.w3
        .w3-center.w3-padding-64
          span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 周中追求
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            .w3-card-4
              img(src='/images/ni.jpg', alt='Brother Ni', style='width:100%')
              .w3-container
                h3 倪柝声弟兄属灵书报信息追求 - 《人的破碎与灵的出来》 
                p.w3-opacity Zoom在线追求 周三晚上9:00PM PST
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            .w3-card-4
              img(src='/images/genesis.png', alt='Genesis', style='width:100%')
              .w3-container
                h3 旧约圣经 《创世纪》 追求
                p.w3-opacity Zoom在线追求 周六早上9:00AM PST

      // Contact
      #contact.w3-center.w3-padding-64
        span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 联系我们
      form.w3-container
        .w3-group
          label#labelFullName 姓名 
          input#inputFullName.w3-input.w3-border.w3-hover-border-black(style='width:100%;', type='text', name='Name', required='')
        .w3-group
          label#labelEmail 邮箱 
          input#inputEmail.w3-input.w3-border.w3-hover-border-black(style='width:100%;', type='text', name='Email', required='')
        .w3-group
          label#labelSubject 主题 
          input#inputSubject.w3-input.w3-border.w3-hover-border-black(style='width:100%;', name='Subject', required='')
        .w3-group
          label#labelMessage 留言 
          input#inputMessage.w3-input.w3-border.w3-hover-border-black(style='width:100%;', name='Message', required='')
        button#submitContact.w3-btn.w3-btn-block.w3-padding-12(type='button') 发送 
    // Footer
    footer.w3-container.w3-padding-32.w3-light-grey.w3-center
      // h4 Footer
      a.w3-btn.w3-padding.w3-black.w3-margin(href='#')
        i.fa.fa-arrow-up.w3-margin-right
        | 回到顶部 
      p
        | © 
        b 2023 Church of God in SF Bay Area
    script.
      

      // Slideshow
      var slideIndex = 1;
      showDivs(slideIndex);
      function plusDivs(n) {
      showDivs(slideIndex += n);
      }
      function currentDiv(n) {
      showDivs(slideIndex = n);
      }
      function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demodots");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
      }

      var slideIndex = 0;
      carousel();

      function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
      }
      slideIndex++;
      if (slideIndex > x.length) {slideIndex = 1} 
      x[slideIndex-1].style.display = "block"; 
      setTimeout(carousel, 8000); // Change image every 2 seconds
      }

    script(src='/jqueryscripts/jquery.min.js')
    script(src='/javascripts/main.js')
