doctype html
html
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/stylesheets/w3.css')
  // link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
  
  style.
    html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
    .mySlides {display:none}
    .w3-tag, .fa {cursor:pointer}
    .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
    div.main {
    background: rgba(60, 90, 90, 0.75);
    color: white
    }
  body
    // Links (sit on top)
    .w3-top
      .w3-row.w3-large
        .w3-col.s3
          a.w3-btn-block.w3-light-grey(href='#') 主页
        .w3-col.s3
          a.w3-btn-block.w3-light-grey(href='#plans') 主日聚会 
        .w3-col.s3
          a.w3-btn-block.w3-light-grey(href='#about') 周中追求 
        .w3-col.s3
          a.w3-btn-block.w3-light-grey(href='#contact') 联系我们 
    // Content
    .w3-content(style='max-width:1100px;margin-top:80px;margin-bottom:80px')
      .w3-panel
        h1
          .w3-text-black.w3-xxlarge
            b Church of God in SF Bay Area 
        p 
          h3 旧金山湾区福音教会
      // Slideshow
      .w3-container
        //.w3-display-container.mySlides
        //  img(src='/images/application.jpg', style='width:100%')
        //  .w3-display-bottomleft.w3-container.w3-padding-32
        //    #app.main.w3-padding-small.w3-animate-bottom 
        //      b Professional School Application

        .w3-display-container.mySlides
          img(src='/images/sheep.jpg', style='width:100%')
          .w3-display-bottomleft.w3-container.w3-padding-32
            #host.main.w3-padding-small 
              b 欢迎来到湾区福音教会
        .w3-display-container.mySlides
          img(src='/images/aug-event.png', style='width:100%')
          .w3-display-bottomleft.w3-container.w3-padding-32
            #ex.main.w3-padding-small 
              b 8月一同相聚Palo Alto福音聚会


        // Slideshow next/previous buttons
        .w3-container.w3-light-grey.w3-padding-8.w3-xlarge
          .w3-left(onclick='plusDivs(-1)')
            i.fa.fa-arrow-circle-left.w3-hover-text-teal
          .w3-right(onclick='plusDivs(1)')
            i.fa.fa-arrow-circle-right.w3-hover-text-teal
          .w3-center
            span.demodots
            span.demodots
            span.demodots
            span.demodots
      // Grid
      .w3-row-padding
        .w3-center.w3-padding-64
          span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 圣经经节享受
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 罗马书 1:28-31
            p
              | 他 们 既 然 故 意 不 认 识 神 ， 神 就 任 凭 他 们 存 邪 僻 的 心 ， 行 那 些 不 合 理 的 事 ； 装 满 了 各 样 不 义 、 邪 恶 、 贪 婪 、 恶 毒， 满 心 是 嫉 妒 、 凶 杀 、 争 竞 、 诡 诈 、 毒 恨 ； 又 是 谗 毁 的 、 背 後 说 人 的 、 怨 恨 神 的、 侮 慢 人 的 、 狂 傲 的 、 自 夸 的 、 捏 造 恶 事 的 、 违 背 父 母 的 。 无 知 的 ， 背 约 的 ， 无 亲 情 的 ， 不 怜 悯 人 的。
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 哥林多前书 1:18-21
            p
              | 因 为 十 字 架 的 道 理 ， 在 那 灭 亡 的 人 为 愚 拙 。 在 我 们 得 救 的 人 却 为 神 的 大 能 。 就 如 经 上 所 记 ， 我 要 灭 绝 智 慧 人 的 智 慧 ， 废 弃 聪 明 人 的 聪 明 。 智 慧 人 在 哪 里 ？ 文 士 在 哪 里 ？ 这 世 上 的 辩 士 在 哪 里 ？ 神 岂 不 是 叫 这 世 上 的 智 慧 变 成 愚 拙 吗 ？ 世 人 凭 自 己 的 智 慧 ， 既 不 认 识 神 ， 神 就 乐 意 用 人 所 当 作 愚 拙 的 道 理 ， 拯 救 那 些 信 的 人 。 这 就 是 神 的 智 慧 了 。
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 马太福音 7:13-14
            p
              | 你们要进窄门，因为引到灭亡，那门是宽的，路是大的，进去的人也多；引到永生，那门是窄的，路是小的，找着的人也少。
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 以赛亚书 51:12-13
            p
              | 惟 有 我，是 安 慰 你 们 的。 你 是 谁？竟 怕 那 必 死 的 人，怕 那 要 变 如 草 的 世 人，却 忘 记 铺 张 诸 天、 立 定 地 基、 创 造 你 的 耶 和 华。


      // Grid
      #plans.w3-row-padding
        .w3-center.w3-padding-64
          span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 主日聚会信息
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 聚会时间和地址
            li.w3-padding-16 时间：周日 11:00AM - 2:00PM PST
            li.w3-padding-24 地址：515 Rhodes Drive, Palo Alto, CA 94303
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 聚会内容
            li.w3-padding-16 生命诗歌享受、擘饼
            li.w3-padding-16 圣经、信息、见证
            li.w3-padding-16 祷告
        .w3-third.w3-margin-bottom
          ul.w3-ul.w3-border.w3-center.w3-hover-shadow
            li.w3-light-grey.w3-xlarge.w3-padding-20 聚会服事项目
            li.w3-padding-16 儿童主日学
            li.w3-padding-16 午餐饭食服事

      // Grid
      #about.w3-row-padding.w3-center
        .w3-center.w3-padding-64
          span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 周中追求
        .w3-third.w3-margin-bottom
          .w3-card-4
            img(src='/images/ni.jpg', alt='John', style='width:100%')
            .w3-container
              h3 倪柝声弟兄属灵书报信息追求 - 《人的破碎与灵的出来》 
              a(href="https://us04web.zoom.us/j/6974212317?pwd=aTFocVNnMVVNQnkzcHN1NWxaQ2NDUT09")
                i.w3-xlarge.fa.fa-video-camera.w3-hover-text-indigo
              p.w3-opacity Zoom在线追求 周三晚上9:00PM PST

        .w3-third.w3-margin-bottom
          .w3-card-4
            img(src='/images/genesis.png', alt='Mike', style='width:100%')
            .w3-container
              h3 旧约圣经 《创世纪》 追求
              a(href="https://us04web.zoom.us/j/6974212317?pwd=aTFocVNnMVVNQnkzcHN1NWxaQ2NDUT09")
                i.w3-xlarge.fa.fa-video-camera.w3-hover-text-indigo
              p.w3-opacity Zoom在线追求 周六早上9:00AM PST


      // Contact
      #contact.w3-center.w3-padding-64
        span.w3-xlarge.w3-bottombar.w3-border-dark-grey.w3-padding-16 联系我们
      form.w3-container
        .w3-group
          label#labelFullName Full Name
          input#inputFullName.w3-input.w3-border.w3-hover-border-black(style='width:100%;', type='text', name='Name', required='')
        .w3-group
          label#labelEmail Email
          input#inputEmail.w3-input.w3-border.w3-hover-border-black(style='width:100%;', type='text', name='Email', required='')
        .w3-group
          label#labelSubject Subject
          input#inputSubject.w3-input.w3-border.w3-hover-border-black(style='width:100%;', name='Subject', required='')
        .w3-group
          label#labelMessage Message Content
          input#inputMessage.w3-input.w3-border.w3-hover-border-black(style='width:100%;', name='Message', required='')
        button#submitContact.w3-btn.w3-btn-block.w3-padding-12(type='button') Send
    // Footer
    footer.w3-container.w3-padding-32.w3-light-grey.w3-center
      // h4 Footer
      a.w3-btn.w3-padding.w3-black.w3-margin(href='#')
        i.fa.fa-arrow-up.w3-margin-right
        | Go to Top
      p
        | © 
        b 2023 Church of God in SF Bay Area
    script.
      

      // Slideshow
      var slideIndex = 1;
      showDivs(slideIndex);
      function plusDivs(n) {
      showDivs(slideIndex += n);
      }
      function currentDiv(n) {
      showDivs(slideIndex = n);
      }
      function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demodots");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
      }

      var slideIndex = 0;
      carousel();

      function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
      }
      slideIndex++;
      if (slideIndex > x.length) {slideIndex = 1} 
      x[slideIndex-1].style.display = "block"; 
      setTimeout(carousel, 8000); // Change image every 2 seconds
      }

    script(src='/jqueryscripts/jquery.min.js')
    script(src='/javascripts/main.js')