doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/w3.css')
        
    body
        block content

        // Wrapper
        #wrapper.w3-container
          br
          a.w3-btn.w3-green.w3-xxlarge(href='schools/addnewschool') + Add School
          br 
          br

          table.w3-table-all.w3-xlarge.w3-card-4#tableSchools
            thead
              tr.w3-green
                th School Name
                th Gender Preference
                th Website
                th Location
                th Delete?
            tbody

        // /WRAPPER

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/schools.js')